/* Style for mobile devices */
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/* Style for tablets */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
        background-color: lightgreen;
    }
}

/* Style for desktops */
@media only screen and (min-width: 901px) {
    body {
        background-color: lightcoral;
    }
}